<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Dictionary walk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Dictionary walk</h1>
    <form action="#" th:action="@{/greeting}" th:object="${input}" method="post">
    	<p>Start word: <input type="text" th:field="*{startWord}" /></p>
        <p>End word: <input type="text" th:field="*{endWord}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
